
module version_mod

! <OVERVIEW>
!   This module provides a string which is the git hash (version) of the code
!   used to build this executable.
!
!   This can be read from the command line with the following command:
!   $ strings <executable> | grep 'CICE_VERSION='
! </OVERVIEW>

implicit none
private

character (len=*), parameter, public :: CICE_VERSION = "CICE_VERSION={CICE_VERSION}"

contains

subroutine dummy_sub()
end subroutine dummy_sub

end module version_mod
