spack:
  specs:
  - 'cice5@git.{{ ref }}=stable model=access-om2'
  - 'cice5@git.{{ ref }}=stable model=access-esm1.6'
  packages:
    gcc:
      require:
      - '{{ gcc_compiler_ver }}'
    all:
      require:
      - '%access_gcc'
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false
