spack:
  specs:
  - 'cice5@git.{{ ref }}=stable {{ om2_2deg }}'
  - 'cice5@git.{{ ref }}=stable build_type=Debug {{ om2_2deg }}'
  - 'cice5@git.{{ ref }}=stable model=access-om2'
  packages:
    intel-oneapi-compilers-classic:
      require:
      - '{{ intel_compiler_ver }}'
    all:
      prefer:
      - '%access_intel'
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false