spack:
  include:
  # Include configuration from this repository, with the environment variable defined in build-ci
  - path: $SPACK_MANIFEST_REPOSITORY_PATH/.github/build-ci/config
  specs:
  - 'cice5@git.{{ ref }}=stable model=access-om2'
  - 'cice5@git.{{ ref }}=stable model=access-om2 build_type=Debug'
  - 'cice5@git.{{ ref }}=stable model=access-esm1.6'
  packages:
    all:
      require:
      - '%access_intel'
  view: false
