spack:
  specs:
  - 'cice5@git.{{ ref }}=stable model=access-om2 ^openmpi@4'
  - 'cice5@git.{{ ref }}=stable model=access-om2 ^openmpi@5'
  packages:
    c:
      require:
      - {{ oneapi_compiler }}
    cxx:
      require:
      - {{ oneapi_compiler }}
    fortran:
      require:
      - {{ oneapi_compiler }}
    all:
      prefer:
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false