spack:
  specs:
  - 'cice5@git.{{ ref }}=stable {{ om2_1deg }} io_type=PIO ^openmpi@4'
  - 'cice5@git.{{ ref }}=stable {{ om2_1deg }} io_type=NetCDF ^openmpi@5'
  - 'cice5@git.{{ ref }}=stable build_type=Debug {{ om2_1deg }}'
  packages:
    c:
      require:
      - {{ oneapi_compiler }}
    cxx:
      require:
      - {{ oneapi_compiler }}
    fortran:
      require:
      - {{ oneapi_compiler }}
    all:
      prefer:
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false