spack:
  specs:
  - 'cice5@git.{{ ref }}=stable model=access-om2 io_type=PIO ^openmpi@4'
  - 'cice5@git.{{ ref }}=stable model=access-om2 io_type=NetCDF ^openmpi@5'
  - 'cice5@git.{{ ref }}=stable build_type=Debug model=access-om2'
  - 'access-om2 ^cice5@git.{{ ref }}=stable'
  packages:
    intel-oneapi-compilers:
      require:
      - '{{ oneapi_compiler_ver }}'
    all:
      require:
      - '%access_oneapi'
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false
