spack:
  specs:
  - 'cice5@git.{{ ref }}=stable {{ esm1p6 }} ^openmpi@4'
  - 'cice5@git.{{ ref }}=stable {{ esm1p6 }} ^openmpi@5'
  - 'cice5@git.{{ ref }}=stable build_type=Debug {{ esm1p6 }}'
  packages:
    intel-oneapi-compilers:
      require:
      - '{{ oneapi_compiler_ver }}'
    all:
      prefer:
      - '%access_oneapi'
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false