spack:
  specs:
  - 'cice5@git.{{ ref }}=stable {{ esm1p6 }} ^openmpi@4'
  - 'cice5@git.{{ ref }}=stable {{ esm1p6 }} ^openmpi@5'
  - 'cice5@git.{{ ref }}=stable build_type=Debug {{ esm1p6 }}'
  packages:
    c:
      require:
      - {{ oneapi_compiler }}
    cxx:
      require:
      - {{ oneapi_compiler }}
    fortran:
      require:
      - {{ oneapi_compiler }}
    all:
      prefer:
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false